/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --text-main-color: #f1b2ce;
  --page-title-color: #db00ff;
  --accent-color: #ff0070;
  --header-text-color: #000028;
  --article-title-color: var(--accent-color, #ff0070);
  --background-color: #000028;
  
  --border-color: #ff0070;
  
  --background-image: url(../images/cover-image-dark.png);
  --title-shadow: var(--accent-color, #ff0070);
  --rec-color: var(--accent-color, #ff0070);
}

.page.theme_dark .rec {
  position: absolute;
  z-index: -1;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: clamp(1.25rem, 0.925rem + 1.39vw, 1.813rem);
  inset-block-start: clamp(0.625rem, 0.264rem + 1.54vw, 1.25rem);
}

.rec::before {
  content: "REC"; 
  color: var(--accent-color, #ff0070);
  line-height: 24px;
}

 .rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

@media (prefers-color-scheme: dark) {
  .page.theme_auto .rec {
    position: absolute;
    z-index: -1;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    inset-inline-end: clamp(1.25rem, 0.925rem + 1.39vw, 1.813rem);
    inset-block-start: clamp(0.625rem, 0.264rem + 1.54vw, 1.25rem);
  }
  
  .page.theme_auto .rec::before {
    content: "REC"; 
    color: var(--accent-color, #ff0070);
    line-height: 24px;
  }
  
   .page.theme_auto .rec::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
    background: var(--accent-color, #ff0070);
    inline-size: 9px;
    block-size: 9px;
  }
}