/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color, #f1b2ce);
  font-family: var(--font-family, "IBM Plex mono", monospace);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--background-color, #000028);
  background-image: var(--background-image, url("../images/cover-image.png") );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.cover {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.header {
  align-items: start;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-block-start: 1px solid var(--accent-color, #ff0070);
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  border-block-end: 1px solid var(--accent-color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.rec {
  display: none;
}

.header__theme-menu {
  justify-self: end;
  margin-block: clamp(4.063rem, -2.378rem + 27.48vw, 10.813rem);
}

@media (375px <= width <= 768px) {
  .header__theme-menu {
    margin-block: clamp(4.063rem, -2.378rem + 27.48vw, 10.813rem);
  }
}

@media (width > 768px) {
  .header__theme-menu {
    justify-self: center;
    margin-block: 0 273px;
  }
}

.header__theme-menu-list {
  display: grid;
  gap: 12px;
}

@media (width > 768px) {
  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--accent-color, #ff0070);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--border-color, #ff0070);
}

@media (width >= 1024px) {
  .header__theme-menu-button:hover {
    border-color: var(--border-color, #ff0070);
  }
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--border-color, #353430);
}

.header__theme-menu-button_active {
  border-color: var(--border-color, #ff0070);
  cursor: default;
  pointer-events: none;
}

.page-title {
  color: var(--page-title-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.shadow-decor {
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__title {
  color: var(--header-text-color, #000028);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  background-color: var(--accent-color, #ff0070);
  justify-self: end;
  margin-block: clamp(3.438rem, -2.944rem + 27.23vw, 10.125rem);
}

@media (width >= 768px) {
  .header__title {
    width: 50%;
    margin-block: 114px;
  }
}

.main {
  display: grid;
  gap: clamp(3.125rem, 1.336rem + 7.63vw, 5rem);
  padding: clamp(2.5rem, 1.307rem + 5.09vw, 3.75rem) clamp(0.625rem, 0.264rem + 1.54vw, 1.25rem);
  background-color: var(--background-color, #000028);
}

.section {
  display: grid;
  gap: 20px;
}

@media (width >= 768px) {
  .section-why {
    grid-template-columns: clamp(14.75rem, -0.063rem + 30.86vw, 19.688rem) 1fr;
  }
}

@media (width >= 768px) {
  .section-what .section-title {
    max-width: clamp(13.75rem, -4.063rem + 37.11vw, 19.688rem);
  }
}

@media (width >= 768px) {
  .section-how {
    grid-template-columns: clamp(14.75rem, 11.897rem + 12.17vw, 19.688rem) 1fr;
  }

  .section-how .section-title {
    grid-row: 1 / 3;
  }
}

.section-title {
  color: var(--article-title-color, #ff0070);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  text-wrap: balance;
}

.section-sibtitle {
  font-size: inherit;
  color: var(--header-text-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

.article-list {
  display: grid;
  gap: 20px;
}

@media (width >= 1024px) {
  .section-what .article-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.article {
  display: grid;
  gap: 10px;
}

.article__title {
  font-size: inherit;
  color: var(--header-text-color, #000028);
  background-color: var(--accent-color, #ff0070);
  font-weight: 700;
}

.article__text {
  color: var(--text-main-color, #f1b2ce)
}

.article__title-thin {
  font-weight: 400;
}

.text-shadow {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  line-height: normal;
  text-decoration: none;
}

.text-shadow:hover {
  border-block-end: 1px solid var(--text-main-color, #f1b2ce);
}

.text-shadow:focus,
.text-shadow:focus-visible {
  outline: 1px solid var(--text-main-color, #f1b2ce);
}

.picture-list {
  display: grid;
  gap: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
}


.picture-item__img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

@media (width >= 768px) {
  .picture-list {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .picture-item:first-child {
    grid-column-start: span 2;
  }

  .picture-item:nth-child(2) {
    grid-column-start: 3;
    grid-row-start: span 2;
  }

  .picture-item:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: span 2;
  }

  .picture-item:nth-child(5) {
    grid-column-start: span 2;
  }
}

.footer {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color, #000028);
}

@media (375px <= width <= 768px) {
  .footer .page-title {
    font-size: clamp(7.25rem, 7.011rem + 1.02vw, 7.5rem);
  }
}

@media (width > 768px) {
  .footer .page-title {
    font-size: clamp(7.5rem, 0.563rem + 14.45vw, 9.813rem);
  }
}